.landing-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

//background images
.landing-page-container {
  background-image: url(http://res.cloudinary.com/syriebianco/image/upload/v1502555762/31178_slow_cooker_pork_ramen_3000_yzf35r.jpg);
  background-size: cover;
  min-height: 475px;
  min-width: 768; // change for breakpoints
  height: 60vh;
  width: 100%;
  position: relative;
  top: -57px; // negative nav-bar height


}

// search-box-container

.search-box-container {
  margin-top: 50px;
  padding: 40px;
  height: 68%;

  background: rgba(255, 255, 255, .75);

  border: 1px solid white;
  border-radius: 3px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


// header

.lp-header-container {
  margin-top: 10px;

  .lp-header {
    font-size: 55px;
    font-weight: bold;
    color: black;
  }
  .lp-sub-header {
    font-size: 40px;
    font-weight: lighter;
    color: black;
    margin-left: 32px;
  }
}


// search bar

.lp-searchbar-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-top: 25px;

  border: 1px solid lightgrey;
  border-radius: 5px;

  background: rgba(255,255,255,.8);
  font-size: 20px;

  :first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  :last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .lp-searchbar-dropdown {
    padding: 5px 10px;
    padding-top: 8px;
    select {
      color: grey;
      border: none;
      background: none;
      outline: none;
      height: 100%;
    }
    select:hover {
      cursor: pointer;
      background: white;
      color: black;
    }
  }

  .lp-searchbar-dropdown:hover {
    background: white;
  }

  .lp-searchbar-input {
    input {
      padding: 10px;
      border: none;
      border-left: 1px solid lightgrey;
      border-right: 1px solid lightgrey;
      background: none;
      outline: none;
      width: 40vw;
      height: 100%;
    }
    input#searchLocation {
      border-radius: 0px;
    }

    input:focus {
      background: rgba(255,255,255,.9);
      color: black;
    }
    input:hover {
      background: rgba(255,255,255,.9);
      color: black;
    }
  }


  .lp-searchbar-button {
    input {
      border: none;
      background: none;
      outline: none;
      color: grey;
      padding: 8px 13px;
    }
    input:hover {
      color: black;
      background-color: rgba(255,255,255,1)
    }
  }
}








// top rated

.top-rated-container {
    position: relative;
    top: -57px;
    padding: 20px;

    h2 {
      padding: 20px;
      padding-top: 10px;
      font-weight: lighter;
      margin-top: 0;
      color: lightgray;
    }
}

.top-rated {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  position: relative;

}

h2.top-rated-header {
  border-bottom: 1px solid lightgray;
  color: gray;

}

.top-rated-list {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.trending-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;

  img {
    border-radius: 2px;
  }

}

.trending-restaurant:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 9px 0px;
  background: rgba(255,255,255,.3);
  transition: .5s;
}

.trending-restaurant-text {
  padding: 10px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  span {
    padding: 0 5px;

    p {
      margin: 0;
      padding-left: 5px;
      font-size: 14px;
      opacity: .5;
    }
  }
}



.restaurant-name {
  font-weight: normal;
  letter-spacing: 2;
  font-size: 20px;
  color: #0babba;
}
.restaurant-rating {
  display: flex;

  color: grey;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: .8px;
}
